//Background
$bg: #fafafa;
$bg-white:#fff;

//Text color
$txt-color: #000;
$txt-white:#fff;
$des-input: #8e8e8e;

$purple: #7850e4;
$purple-hover: #3e2585;

//Border color
$border-hover: #000;
$border-input: #dbdbdb;

//Icon Social media
$icon-fb:#3B5988;
$icon-twitter:rgb(8, 160, 233);
$bg-instagram:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);

//Error form
$error: red;