

.btn--login,.btn--register{
    padding: 10px;
    border-radius: 30px;
    background: $purple;
    color: $txt-white;
    border: 0;
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: 30px;
    &:hover{
        background:$purple-hover;
        transition:background-color 1s;
    }
}

.btn--register,.btn--login{
    opacity: 0.5;
    pointer-events: none;
    &.active{
        opacity: 1;
        pointer-events: visible;
        transition: .5s;
    }
}